<!-- Hero Section -->
<section class="hero container">
    <div class="hero__content">
        <div class="hero__badge">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path
                    d="M3.46699 8.26659L8.66699 1.33325L8.00033 6.66659H12.0003C12.5497 6.66659 12.8633 7.29376 12.5337 7.73325L7.33366 14.6666L8.00033 9.33325H4.00033C3.45096 9.33325 3.13737 8.70608 3.46699 8.26659Z"
                    fill="#7A77FF" fill-opacity="0.32" stroke="#7A77FF" stroke-width="1.33333"
                    stroke-linejoin="round" />
            </svg>
            <span>Digital Business Address</span>
        </div>
        <h1 class="hero__title">Everything for your company from the address to the articles.</h1>
        <div class="hero__actions">
            <button class="btn btn--primary btn--large">
                <span>Get Started Now</span>
                <svg class="icon" viewBox="0 0 16 16" fill="white">
                    <path
                        d="M14.03 8.53l-4.5 4.5a.75.75 0 01-1.06-1.06l3.22-3.22H2.5a.75.75 0 010-1.5h9.19l-3.22-3.22a.75.75 0 011.06-1.06l4.5 4.5c.3.3.3.77 0 1.06z" />
                </svg>
            </button>
            <button class="btn hero__subtitle">Incorporate in 10 Minutes</button>
        </div>

        <!-- Features List -->
        <div class="hero__features">
            <div class="hero__feature">
                <svg class="hero__feature-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="8"
                    viewBox="0 0 10 8" fill="none">
                    <path d="M1 4.00004L3.66667 6.66671L9 1.33337" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="text-3 md:text-[16px]">OCR & AI Analysis</span>
            </div>
            <div class="hero__feature">
                <svg class="hero__feature-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="8"
                    viewBox="0 0 10 8" fill="none">
                    <path d="M1 4.00004L3.66667 6.66671L9 1.33337" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="text-3 md:text-[16px]">Transparency Register Service</span>
            </div>
            <div class="hero__feature">
                <svg class="hero__feature-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="8"
                    viewBox="0 0 10 8" fill="none">
                    <path d="M1 4.00004L3.66667 6.66671L9 1.33337" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="text-3 md:text-[16px]">Notary Appointment</span>
            </div>
            <div class="hero__feature">
                <svg class="hero__feature-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="8"
                    viewBox="0 0 10 8" fill="none">
                    <path d="M1 4.00004L3.66667 6.66671L9 1.33337" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="text-3 md:text-[16px]">Mail Forwarding</span>
            </div>
        </div>

        <!-- Video Section -->
        <div class="hero__video">
            <div class="hero__video-thumbnail">
                <img src="https://img.youtube.com/vi/4xcRqk7sCbM/maxresdefault.jpg" alt="Video Thumbnail"
                    class="hero__video-thumb-img">
                <div class="hero__video-play-button">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="30" fill="#7A77FF" />
                        <path d="M23 20L40 30L23 40V20Z" fill="white" />
                    </svg>
                </div>
            </div>

            <iframe class="hero__video-iframe hidden" id="videoIframe"
                src="https://www.youtube.com/embed/4xcRqk7sCbM?si=1rIbnwSQSdTS0XFP" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
        </div>
    </div>
</section>