/* ============================================
   SECTIONS STYLES
   ============================================ */

/* ============================================
   HERO SECTION
   ============================================ */
.hero {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: 0 auto;
    margin-top: 73px;
}

/* Hero Content */
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--font-size-22, 22px);
    align-self: stretch;
}

.hero__badge {
    position: relative;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    width: max-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #7A77FF;
    z-index: 1;
    font-weight: 600;
    display: flex;
    height: 32px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(167, 165, 255, 0.10) 0%, rgba(122, 119, 255, 0.10) 100%);
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.hero__badge::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    border-radius: 30px;
    background: linear-gradient(180deg, #7A77FF 0%, #7A77FF00 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.hero__title {
    color: #0D0D12;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    max-width: 900px;
}

.hero__subtitle {
    display: flex;
    height: 48px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0 1.344px 3.54px -0.625px rgba(0, 0, 0, 0.09);
}

/* Hero Actions */
.hero__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Hero Features */
.hero__features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--opacity-20, 20px);
    align-self: stretch;
}

.hero__feature {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #374151;
    font-size: 14px;
    font-weight: 500;
}

.hero__feature-icon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 54px;
    background: #0D0D12;
    color: white;
}

/* Hero Image */
.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* Hero Video */
.hero__video {
    display: flex;
    width: 1032px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-top: 22px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background: linear-gradient(180deg, #7A77FF 0%, #afffa5 100%);
    padding: 4px;
    position: relative;
}

.hero__video::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8), white);
    pointer-events: none;
    z-index: 1;
}

.hero__video-thumbnail {
    position: relative;
    height: 549px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background: white;
}

.hero__video-thumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.hero__video-thumbnail:hover .hero__video-thumb-img {
    transform: scale(1.02);
}

.hero__video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.3));
    padding: 16px;
    border-radius: 100%;
    border: 1.375px solid rgba(122, 119, 255, 0.16);
    background: rgba(122, 119, 255, 0.10);
    box-shadow: 0 27.5px 55px -11px rgba(0, 51, 102, 0.15);
    backdrop-filter: blur(2.75px);
}

.hero__video-play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.hero__video-iframe {
    width: 1016px;
    height: 549px;
    flex-shrink: 0;
    border-radius: 16px;
}

/* ============================================
   PRICING SECTION
   ============================================ */
.pricing {
    background: linear-gradient(180deg, #18181D 0%, #201F42 104.59%);
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.pricing__header {
    text-align: center;
    display: flex;
    max-width: 1104px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--item-spacing-s, 16px);
}

.pricing__badge {
    position: relative;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    width: max-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #7A77FF;
    z-index: 1;
    font-weight: 500;
    display: flex;
    height: 32px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(167, 165, 255, 0.10) 0%, rgba(122, 119, 255, 0.10) 100%);
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.pricing__badge::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    border-radius: 30px;
    background: linear-gradient(180deg, #7A77FF 0%, #7A77FF00 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.pricing__badge-icon {
    width: 5.4px;
    height: 6px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: #7A77FF;
}

.pricing__title {
    color: #FFF;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pricing__subtitle {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 682px;
}

.pricing__cards {
    display: flex;
    width: 920px;
    align-items: flex-start;
    align-content: flex-start;
    border-radius: 20px;
}

.pricing__card {
    border: 1px solid #ffffff1a;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 24px;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.pricing__card--featured {
    border: 1px solid #ffffff1a;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 24px;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.pricing__card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.pricing__card-title {
    color: #FFF;
    font-family: var(--font-inter-display);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.pricing__card-description {
    color: #D1D5DB;
    font-family: var(--font-inter-display);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.pricing__card-price {
    display: flex;
    align-items: baseline;
    gap: 2.88px;
}

.pricing__price {
    color: #FFF;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62.4px;
    letter-spacing: -1.44px;
}

.pricing__period {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

.pricing__features-title {
    color: #FFF;
    font-family: var(--font-geist);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 24px;
}

.pricing__features-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.pricing__feature {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin-bottom: 12px;
    color: #FFF;
    font-family: var(--font-inter-display);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pricing__check {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 54px;
    background: #252538;
    color: white;
}

.pricing__button {
    display: flex;
    height: 48px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    padding: 16px 24px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pricing__button-text {
    color: white;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.pricing__button--starter {
    background: #7A77FF;
    color: white;
}

.pricing__button--starter:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(122, 119, 255, 0.4);
}

.pricing__button--pro {
    background: linear-gradient(135deg, #7A77FF, #6865ee);
    color: white;
}

.pricing__button--pro:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(122, 119, 255, 0.4);
}

.pricing__additional {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    max-width: 1200px;
    width: 100%;
}

.pricing__service {
    background: #28283d;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 24px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing__service:hover {
    background: rgba(255, 255, 255, 0.08);
    border-color: rgba(122, 119, 255, 0.3);
}

.pricing__service-title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
    line-height: normal;
    font-family: var(--font-inter-display);
}

.pricing__service-description {
    color: rgba(255, 255, 255, 0.60);
    font-family: var(--font-inter-display);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.pricing__service-price {
    color: #FFF;
    font-family: var(--font-inter-display);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Additional Services Mobile Slider */
.pricing__additional-slider {
    display: none;
    width: 100%;
    position: relative;
}

.pricing__additional-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 16px;
}

.pricing__additional-wrapper::-webkit-scrollbar {
    display: none;
}

.pricing__additional-slider .pricing__service {
    min-width: 280px;
    scroll-snap-align: center;
    flex-shrink: 0;
}

/* Mobile Slider Styles */
.pricing__mobile-slider {
    display: none;
    width: 100%;
}

.pricing__slider-wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 16px;
}

.pricing__slide {
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.pricing__slide--active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.pricing__dots {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
}

.pricing__dot {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
    border: 0.667px solid rgba(208, 213, 221, 0.40);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 2.667px 2.667px 0 rgba(0, 0, 0, 0.04);
}

.pricing__dot svg {
    transition: all 0.3s ease;
}

.pricing__dot--active {
    background: #7A77FF;
    border-color: #7A77FF;
    color: white;
    border: 1px solid #D0D5DD;
}

/* ============================================
   FEATURES SECTION
   ============================================ */
.features {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.features__header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--font-size-22, 22px);
    max-width: 800px;
}

.features__badge {
    position: relative;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    width: max-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #7A77FF;
    z-index: 1;
    font-weight: 600;
    display: flex;
    height: 32px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(167, 165, 255, 0.10) 0%, rgba(122, 119, 255, 0.10) 100%);
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.features__badge::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    border-radius: 30px;
    background: linear-gradient(180deg, #7A77FF 0%, #7A77FF00 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.features__badge-icon {
    width: 5.4px;
    height: 6px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: #7A77FF;
}

.features__title {
    color: #0D0D12;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    max-width: 900px;
}

.features__subtitle {
    color: #6B7280;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 680px;
}

.features__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    background-color: #f7f7f7;
}

.features__card {
    background: white;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 20px 20px 24px 20px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.features__card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
    border-color: #7A77FF;
}

.features__card-icon {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 8.556px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1.426px solid #f2f2f2;
    margin-bottom: 28px;
    background: #F8F8F8;
    box-shadow: 0 0.859px 0.859px -1.426px rgba(61, 65, 76, 0.15), 0 3.263px 3.263px -2.852px rgba(61, 65, 76, 0.14), 0 14.259px 14.259px -4.278px rgba(61, 65, 76, 0.10);
}

.features__card-title {
    color: #0D0D12;
    font-family: var(--font-inter-display);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.features__card-description {
    color: #686E7E;
    font-family: var(--font-inter-display);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* ============================================
   DASHBOARD SECTION
   ============================================ */
.dashboard {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.dashboard__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.dashboard__badge {
    position: relative;
    display: flex;
    height: 31px;
    padding: 8px 16px;
    gap: 8px;
    width: max-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #7A77FF;
    font-size: 14px;
    border-radius: 30px;
    z-index: 1;
    font-weight: 600;
}

.dashboard__badge::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    border-radius: 30px;
    background: linear-gradient(180deg, #7A77FF 0%, #7A77FF00 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.dashboard__badge-icon {
    width: 5.4px;
    height: 6px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: #7A77FF;
}

.dashboard__title {
    color: #0D0D12;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.dashboard__subtitle {
    color: #6B7280;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 680px;
}

.dashboard__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1200px;
    width: 100%;
}

.dashboard__top-row {
    display: flex;
    gap: 24px;
}

.dashboard__bottom-row {
    display: flex;
    gap: 24px;
}

.dashboard__sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dashboard__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.dashboard__widget {
    background: #f7f7f7;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 24px 24px 0 24px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    /* overflow: hidden; */
}

.dashboard__widget:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
}

.dashboard__widget--inbox,
.dashboard__widget--deadlines {
    max-height: 400px;
    display: flex;
    overflow: hidden;
}

@media (max-width: 768px) {

    .dashboard__widget--inbox,
    .dashboard__widget--deadlines {
        overflow: visible;
    }
}

.dashboard__widget--deadlines {
    grid-column: 1 / -1;
}

.dashboard__widget-header {
    display: flex;
    align-items: start;
    gap: 12px;
    padding: 0 16px;
    padding-bottom: 24px;
    width: 100%;
    align-self: stretch;
}

.dashboard__widget-icon {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.dashboard__widget-icon--blue {
    background: #7A77FF;
}

.dashboard__widget-title {
    color: #0D0D12;
    font-family: var(--font-inter-display);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
    margin-bottom: 7px;
}

.dashboard__widget-description {
    color: #6B7280;
    font-family: var(--font-inter-display);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

/* Inbox Widget */
.dashboard__inbox-items {
    width: 100%;
    padding: 0 16px;
}

/* Forwarding Widget */
.dashboard__forwarding-content {
    width: 100%;
    overflow: hidden;
    height: 240px;
}

/* Deadlines Widget */
.dashboard__deadline-items {
    width: 100%;
    padding: 0 !important;
    /* margin-bottom: 16px; */
}

/* Storage Widget */
.dashboard__storage-content {
    width: 100%;
    height: 240px;
}

/* Todo Widget */
.dashboard__todo-content {
    width: 100%;
    height: 240px;
}

.dashboard__all__images {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
}

/* ============================================
   STREAMLINE SECTION
   ============================================ */
.streamline {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.streamline__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 800px;
    text-align: center;
}

.streamline__badge {
    position: relative;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    width: max-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #7A77FF;
    z-index: 1;
    font-weight: 600;
    height: 32px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(167, 165, 255, 0.10) 0%, rgba(122, 119, 255, 0.10) 100%);
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.streamline__badge::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    border-radius: 30px;
    background: linear-gradient(180deg, #7A77FF 0%, #7A77FF00 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.streamline__badge-icon {
    width: 5.4px;
    height: 6px;
    border-radius: 100%;
    background: #7A77FF;
}

.streamline__title {
    color: #0D0D12;
    text-align: center;
    font-family: var(--font-inter-display);
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    max-width: 611px;
}

.streamline__visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.streamline__visual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../src/assets/images/Circle\ BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    z-index: 1;
}

.streamline__circle {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
}

.streamline__main-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 7px;
    background-color: white;
    box-shadow: 0 0.676px 29.053px 1.351px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.streamline__center-img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.streamline__icon {
    position: absolute;
    width: 58px;
    height: 58px;
    background: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(122, 119, 255, 0.15);
}

.streamline__icon-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
}

.streamline__icon--1 {
    top: 8%;
    left: 50%;
    transform: translateX(-50%) rotate(-12deg);
}

.streamline__icon--2 {
    top: 25%;
    right: 12%;
    transform: rotate(15deg);
}

.streamline__icon--3 {
    bottom: 25%;
    right: 12%;
    transform: rotate(-8deg);
}

.streamline__icon--4 {
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%) rotate(18deg);
}

.streamline__icon--5 {
    bottom: 25%;
    left: 12%;
    transform: rotate(-15deg);
}

.streamline__icon--6 {
    top: 25%;
    left: 12%;
    transform: rotate(10deg);
}

/* ============================================
   FAQ SECTION
   ============================================ */
.faq {
    padding: 80px 0;
    display: flex;
    align-items: start;
    gap: 64px;
}

.faq__header {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    max-width: 800px;
}

.faq__badge {
    position: relative;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    width: max-content;
    justify-content: start;
    align-items: center;
    color: #7A77FF;
    z-index: 1;
    font-weight: 600;
    height: 32px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(167, 165, 255, 0.10) 0%, rgba(122, 119, 255, 0.10) 100%);
    text-align: start;
    font-family: var(--font-inter-display);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.faq__badge::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    border-radius: 30px;
    background: linear-gradient(180deg, #7A77FF 0%, #7A77FF00 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.faq__badge-icon {
    width: 5.4px;
    height: 6px;
    border-radius: 100%;
    background: #7A77FF;
}

.faq__title {
    color: #0D0D12;
    text-align: start;
    font-family: var(--font-inter-display);
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
}

.faq__subtitle {
    color: #6B7280;
    text-align: start;
    font-family: var(--font-inter-display);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 680px;
}

.faq__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 800px;
    width: 100%;
}

.faq__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq__item {
    background: white;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 20px;
}

.faq__item:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    border-color: #7A77FF;
}

.faq__question {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: var(--font-inter-display);
    font-size: 18px;
    font-weight: 500;
    color: #0D0D12;
    text-align: left;
    transition: all 0.3s ease;
}

.faq__question:hover {
    color: #7A77FF;
}

.faq__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    color: #6B7280;
}

.faq__item.active .faq__icon {
    transform: rotate(180deg);
    color: #7A77FF;
}

.faq__answer {
    max-height: 0;
    overflow: hidden;
    color: #6B7280;
    font-family: var(--font-inter-display);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ============================================
   INCORPORATION SECTION
   ============================================ */
.incorporation {
    background: linear-gradient(180deg, #18181D 0%, #201F42 104.59%);
    overflow: hidden;
    margin: 80px auto;
    display: flex;
    padding: 80px 0 80px 80px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    border-radius: 20px;
}

.incorporation__container {
    display: flex;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    width: 100%;
}

.incorporation__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 24px 0;
    flex: 1;
}

.incorporation__badge {
    position: relative;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    width: max-content;
    justify-content: center;
    align-items: center;
    color: #7A77FF;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(167, 165, 255, 0.10) 0%, rgba(122, 119, 255, 0.10) 100%);
    z-index: 1;
}

.incorporation__badge::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.8px;
    border-radius: 30px;
    background: linear-gradient(180deg, #7A77FF 0%, #7A77FF00 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.incorporation__badge-icon {
    width: 5.4px;
    height: 6px;
    border-radius: 100%;
    background: #7A77FF;
}

.incorporation__title {
    font-family: var(--font-inter-display);
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.incorporation__description {
    font-family: var(--font-inter-display);
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.incorporation__button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    background: #7A77FF;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: var(--font-inter-display);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    width: max-content;
    justify-content: space-between;
}

.incorporation__button:hover {
    background: #6865ee;
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(122, 119, 255, 0.4);
}

.incorporation__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.incorporation__img {
    width: 100%;
    height: auto;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

/* ============================================
   PRIVACY SECTION
   ============================================ */

/* Privacy Hero */
.privacy-hero {
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
}


.privacy-hero__content {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    text-align: center;
}

.privacy-hero__title {
    color: #0D0D12;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
}

.privacy-hero__description {
    color: #686E7E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.privacy-content {
    margin: 0 auto;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    align-self: stretch;
}

.privacy-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    /* border: 1px solid red; */
    /* border-radius: 20px; */
}

.privacy-subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.privacy-section h2 {
    color: #0D0D12;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.privacy-section h3 {
    color: #0D0D12;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.privacy-section h4 {
    color: #0D0D12;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 0 16px 16px;
}


.privacy-section h5 {
    color: #686E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.privacy-section h6 {
    color: #686E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.special-paragraph,
.privacy-section p {
    color: #686E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0 16px;
}

.privacy-section ul {
    padding-left: 30px;
}

.privacy-section ul li {
    color: #0D0D12;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    list-style: disc;
    /* 150% */
}

.white-section {
    background-color: white;
    border-radius: 20px;
    padding: 16px 0;
}

/* ============================================
   TERMS SECTION
   ============================================ */

/* Terms Hero */
.terms-hero {
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
}

.terms-hero__content {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    text-align: center;
}

.terms-hero__title {
    color: #0D0D12;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
}

.terms-hero__description {
    color: #686E7E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.terms-content {
    margin: 0 auto;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    align-self: stretch;
}

.terms-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.terms-subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.terms-section h2 {
    color: #0D0D12;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.terms-section h3 {
    color: #0D0D12;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.terms-section h4 {
    color: #0D0D12;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 0 16px 16px;
}

.terms-section h5 {
    color: #686E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.terms-section h6 {
    color: #686E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.terms-section p {
    color: #686E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0 16px;
}

.terms-section ul {
    padding-left: 30px;
}

.terms-section ul li {
    color: #0D0D12;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    list-style: disc;
}